<h2><%= @restaurant.name %></h2>
<p>Type: <%= @restaurant.category %></p>
<p>Address: <%= @restaurant.address %></p>
<p>Contact details: <%= @restaurant.phone_number %></p>

<%= link_to "Back to menu", restaurants_path %>
